# Activates URL rewriting (like example.com/route/to/func)
RewriteEngine On

# Some servers require you to specify the `RewriteBase` directive
# In such cases, it should be the path (relative to the document root)
# containing this .htaccess file
#
# RewriteBase /

# Prevent visitors from accesing .json configuration files
RewriteCond %{REQUEST_URI} \.json$
RewriteRule \.json$ - [R=404]

# Redirect all requests to fw
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ fw.php [QSA,L]