.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #777;
}
.container {
  max-width: 730px;
}
.jumbotron {
  text-align: center;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}